<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dawei.silkroad">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".base.BaseActivity" />
        <activity android:name=".dev.logic.LoginActivity" />
        <activity android:name=".dev.home.ui.HomePagerActivity" />
        <activity android:name=".dev.logic.RegisterActivity" />
        <activity android:name=".dev.logic.ForgetPwdActivity" />
        <activity android:name=".dev.logic.ChangePwdActivity" />
        <activity android:name=".dev.user.ui.PersonalCenterActivity" />
        <activity android:name=".dev.artists.ui.ArtistDataActivity" />
        <activity android:name=".dev.store.ui.StoreInformationActivity" />
        <activity android:name=".dev.cooperative.CooperativeActivity" />
        <activity android:name=".dev.address.ui.AddressActivity" />
        <activity android:name=".dev.address.ui.AddressManagerActivity" />
        <activity android:name=".dev.address.ui.MineAddressActivity" />
        <activity android:name=".dev.address.ui.MineAddressManagerActivity" />
        <activity android:name=".dev.setting.SettingActivity" />
        <activity android:name=".dev.artists.ui.ArtistOfficialActivity" />
        <activity android:name=".dev.message.MessageActivity" />
        <activity android:name=".dev.cooperative.CooperativeStoreActivity" />
        <activity android:name=".dev.cooperative.CooperationOpportunityActivity" />
        <activity android:name=".dev.store.ui.MallActivity" />
        <activity android:name=".dev.store.ui.ProductDetailsActivity" />
        <activity android:name=".dev.news.NewsActivity" />
        <activity android:name=".dev.artists.ui.ArtistActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".dev.store.ui.FirmOrderActivity" />
        <activity android:name=".dev.order.ui.OrderActivity" />
        <activity android:name=".dev.aboutUs.AboutUsActivity" />
        <activity android:name=".dev.shops.ui.ShopHomeActivity" />
        <activity android:name=".dev.shops.ui.OpenShopActivity" />
        <activity android:name=".dev.address.ui.AddNewAddressActivity" />
        <activity android:name=".dev.store.ui.GoodsListActivity"></activity>
    </application>

</manifest>